
.video_container{
    width: 90%;
    margin-top: 20px;
}
.rankOne_container{
    width: 70%;
    /* height: 20%; */
    background-color: #45474B;
    /* position: absolute; */
    /* top: 10%; */
     padding: 2rem;
   /* left: 10%; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 1.2rem;
   margin: auto;
   gap: 20px;

}

.topVideo_thumb{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #45474B;
   
}
.topVideo_thumb h3{
    border: 1px solid #B6BBC4;
    background-color: #B6BBC4;
    padding: 5px;
    font-size: 1rem;
    border-radius: 0.2rem;
    color: white;
   
}

.topVideo_thumb img{
    border: 1px solid;
    border-radius: 1.5rem;
    object-fit: contain;
}
.topVideo_thumb p{
    color: #B6BBC4;
    background-color: #45474B;
}

.top_video_details{
    display: flex;
    flex-direction: column;
   gap: 10px;
    width: 30%;
    background-color: #45474B;
}


.top_video_details h3{
    color: white;
    background-color: #45474B;
}
.top_video_details p{
    color: #B6BBC4;
    background-color: #45474B;
    
}

.Top_video_earning{
    width: 40%;
    padding: 50px;
    background-color:#45474B ;
    /* height: 80%; */
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Top_video_earning h2{
    font-size: 2rem;
    color: white;
    background-color: #45474B;
}

.table_main_Container{
    width: 100%;
    padding: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 220px; */
}

.table_para{
    color: white;
    font-size: 1.3rem
    /* position: relative; */
    /* float:right; */
    /* left: 30%; */
}

.table_container{
    position: absolute;
    top: 40%;
    /* bottom: 0; */
    left: 10%;
    width: 75%;
    padding: 5px;
    background-color: #45474B;
    margin-top: 50px;
}


.table_headings{
    /* width: 80; */
    /* background-color: #45474B; */
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    
}

.table_row{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 90%;
    
}

th{
    text-align: center;
   
    color: white;
    font-size: 1.3rem;
    
}


.table_row td{
   
    text-align: center;
    color: white;

   
}
.table_row img{
    width: 55px;
}




